name: OpenWrt Builder

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0'
  repository_dispatch:
  workflow_dispatch:

env:
  BUILD_SCRIPT: build-scripts.sh
  UPLOAD_BIN_DIR: true
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: false

jobs:
  build:
    runs-on: ubuntu-22.04
    outputs:
      name: ${{ steps.extract_firmware_info.outputs.name }}
      path: ${{ steps.extract_firmware_info.outputs.path }}
      firmware: ${{ steps.extract_firmware_info.outputs.firmware_json }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@master
        
      - name: Initialization compile environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          # CPU信息
          echo -e "Total CPU cores\t: $(nproc)"
          cat /proc/cpuinfo | grep 'model name'
          
          # 内存信息
          free -h

          # 磁盘信息
          df -hT
          
          # 内核信息
          uname -a
          
          [ -f /proc/version ] && cat /proc/version
          [ -f /etc/issue.net ] && cat /etc/issue.net
          [ -f /etc/issue ] && cat /etc/issue
          
          # 资源信息
          ulimit -a

      - name: Set compile scripts
        run: |
          # 运行脚本路径
          scripts_path="${GITHUB_WORKSPACE}/scripts"  
          if [ ! -d "${scripts_path}" ]; then
              echo "Script path does not exist, Please check!"  
              exit 1
          fi
          
          # 查找脚本并赋予权限
          find $GITHUB_WORKSPACE/scripts -exec chmod +x {} \;
          
          # 检查执行脚本
          scripts_file="${GITHUB_WORKSPACE}/scripts/${BUILD_SCRIPT}"
          if [ ! -e "${scripts_file}" ]; then
              echo "Script files does not exist, Please check!"
              exit 1
          fi
          
          echo "scripts_path=${scripts_path}" >> $GITHUB_ENV
          echo "scripts_file=${scripts_file}" >> $GITHUB_ENV

      - name: Run compile scripts
        id: compile-scripts
        working-directory: ${{ env.scripts_path }}
        run: |
          # 执行脚本
          scripts_file=${{ env.scripts_file }}
          if [ -x "${scripts_file}" ]; then
              source ${scripts_file} 1
          fi
          
          # 检查固件信息
          if [ -z "${FIRMWARE_JSON_OBJECT}" ]; then
              echo "Firmware does not exist, Please check!"
              exit 1
          fi
          
          # JSON对象进行 Base64 编码
          ENCODED_JSON=$(echo -n "${FIRMWARE_JSON_OBJECT}" | base64 | tr -d '\n')
          
          echo $FIRMWARE_JSON_OBJECT

          # 设置 Base64 编码输出
          echo "encoded_json=${ENCODED_JSON}" >> $GITHUB_OUTPUT 
          
      - name: Extract Firmware Details
        id: extract_firmware_info
        env:
          # 获取 Base64 编码信息
          ENCODED_JSON: ${{ steps.compile-scripts.outputs.encoded_json }}
        run: |
          echo "base64:${ENCODED_JSON}"
          
          # Base64 解码 JSON 对象
          firmware_json_object=$(echo "$ENCODED_JSON" | base64 --decode)
          
          # 获取 count 字段
          count=$(jq -r '.count' <<< "${firmware_json_object}")
          if [ ${count} -le 0 ]; then
              echo "Firmware does not exist, Please check!"
              exit 1
          fi
          
          # 获取 name 字段
          name=$(jq -r '.name' <<< "${firmware_json_object}")
          
          # 获取 path 字段
          path=$(jq -r '.path' <<< "${firmware_json_object}")
          
          if [ -z "${name}" ] || [ -z "${path}" ]; then
              echo "Get Firmware information is Failed, please check!"
              exit 1
          fi
          
          # 获取 json 数组
          firmware_json_array=$(jq '.firmware' <<< "${firmware_json_object}")
          
          # 设置变量输出
          echo "name=${name}" >> $GITHUB_OUTPUT
          echo "path=${path}" >> $GITHUB_OUTPUT
          
          # 设置数组输出
          echo "firmware_json=$(jq -c . <<< "${firmware_json_array}")" >> $GITHUB_OUTPUT
          
      - name: Upload Firmware Folder
        uses: actions/upload-artifact@main
        if: steps.extract_firmware_info.outputs.name != '' &&
            steps.extract_firmware_info.outputs.path != '' &&
            !cancelled()
        with:
          name: ${{ steps.extract_firmware_info.outputs.name }}
          path: ${{ steps.extract_firmware_info.outputs.path }}
          
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2  # main
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: ${{ github.repository }}
          retain_days: 7
          keep_minimum_runs: 2

  upload:
    runs-on: ubuntu-22.04
    needs: build
    
    strategy:
      matrix:
        firmware:
          ${{ fromJson(needs.build.outputs.firmware) }}

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Download Firmware Folder
        uses: actions/download-artifact@main
        with:
          name: ${{ needs.build.outputs.name }}
          path: ${{ needs.build.outputs.path }}

      - name: Upload Firmware Directory
        uses: actions/upload-artifact@main
        with:
          name: ${{ matrix.firmware.name }}
          path: ${{ matrix.firmware.file }}
          
      - name: Delete Firmware Artifact 
        uses: geekyeggo/delete-artifact@main
        with:
          name: ${{ needs.build.outputs.name }} 
          failOnError: false